.hide{
    display: none;
}
#Ex-OddOrEven{
    display: none;
}

/*choice styling*/
#ExerciseChoice{
    text-align: center;
    padding-top: 50px;
    font-size: 2rem;
}
#Palindromo{
    font-size: 2rem;
    padding: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#Palindromo:hover{
    text-decoration: underline;
}
#OddOrEven{
    font-size: 2rem;
    padding: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#OddOrEven:hover{
    text-decoration: underline;
}
/*esercizio palindromi*/
#Ex-palindrom{
    display: none;
    text-align: center;
}
span{
    font-size: 2rem;
}
/*esercizio pari o dispari*/
#Ex-OddOrEven{
    padding-top: 50px;
    text-align: center;
}
#chose{
    display: flex;
    justify-content: center;
}
#Even{
    margin-right: 10px;
    font-size: 2rem;
}
#Odd{
    margin-left: 10px;
    font-size: 2rem;
}